<html>
	<head>
		<style>
			.button1 {  font: bold 11px Arial;
  text-decoration: none;
  background-color: green;
  color: black;
  
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;}
  			#login {display: flex;
  				align-items: center;
  				justify-content: center;
  				width: 100px;
  				height: 100px}
  			#register {display: flex;
  				align-items: center;
  				justify-content: center}
		</style>
	</head>
	<body>
		<h1>FitNerd Nexus</h1>
		<h2>Lift right, live right.</h2>

		<a href = "/signin" class = "button1" id = "login">Log in</a><br><br>
		<a href = "/signup" class = "button1" id = "register">Register</a>
	</body>
</html>